body {
  min-width: 100px;
  min-height: 200px;
  background-color: red;
}
div {
  marign: 0px;
  font-size: 20px
}
.abc {
  color: green;
  &--cd {
    color: #fff;
    div {
      font-size: 20px;
    }
  }
}